/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*,*::before,*::after{
    box-sizing: border-box;
}
.m0a{
    margin: 0 auto;
}
.wrap{
    max-width: 1366px;
    position: relative;  
}
.header{
    display: flex;
    justify-content: space-between;
    padding-left: 10.25%;
    padding-right: 10.25%;
    padding-top: 24px;
    padding-bottom: 24px;  
}
.background1{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
}
.pricebutton a {
    display: block;
    background: #FF5D50;
    width: 128px;
    height: 40px;
    border-radius: 50px;
    text-align: center;
    color:#FFFFFF; 
    text-decoration: none; 
    line-height: 2.4;  
}
.pricebutton{
    z-index: 3; 
}
.logo img{
    max-width:218.06px;
}
.headerbackground{
    background: #F7F9FD;
}
.title{
    max-width: 553px;
    margin-left: 141px;
} 
.title1{
    padding-left: 10.17%;
}   
.title p{
    color:#56C4C5;
    font-size: 18px;
    font-weight: bold;
    margin-top: 158px;
    line-height: 26px;
}
.title1 p{
    line-height: 24px;
    margin-top: 16px;
    padding-bottom: 180px; 
}
.title h1{
    font-size: 48px;
    font-weight: bold;
    color:#221E1F;
    line-height: 70px;
    margin-top: 8px; 
}
.title1 h1{
    font-size: 48px;
    font-weight: bold;
    color:#221E1F;
    line-height: 70px;
    padding-top: 92px; 
}
.title1background{
    background: #F7F9FD;
    border-radius: 0px 0px 0px 300px;
}
.title h2{
    font-size: 20px;
    margin-top: 16px;
    line-height: 29px; 
}
.home img{
    max-width: 532px;
    position: absolute;
    right: 140px;
    top: 118px;
    z-index: 2;        
}
.background3{
    display: none;
}
.background4{
    position: absolute;
    top: 0;
    right: 0;
}
.background5{
    display: none;
}
.topbutton{
    position: fixed;
    top: 500px;
    left: 1247px;
    z-index: 3;
}
.background6 img{
    height: 361px;
}
.background6{
    position: absolute;
    top: 876px;
    left: -267px;
    z-index: 1;
}
.background2{
    position: absolute;
    top: 589px;
    left: -222px;
}
.platform{
    max-width: 969px;
    margin-top: 374px;
}
.platform h2{
    font-size: 32px;
    line-height: 46px;
    font-weight: bold;
    text-align: center;
}
.platformtype{
    display: flex;
    justify-content: space-around;
    margin-top: 48px;
}
.platform li{
    width: 26%;
} 
.platformtype img{
    width: 70px;
    height: 70px;
    display: block;
    margin: auto;
    margin-bottom: 24px;
}
.platformtype h3{
    font-weight: bold;
    font-size: 24px;
    line-height: 35px;
    text-align: center;
    margin-bottom: 24px;
}
.platform p{
    font-size: 16px;
    line-height: 24px;
    color:#747474;
    text-align: center;
}
.role{
    max-width: 1088px;
    margin-top: 100px;
}
.role h2{
    font-size: 32px;
    line-height: 46px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 16px;
}
.role p{
    font-size: 20px;
    line-height: 29px;
    text-align: center;
    margin-bottom: 48px;
}
.roletype{
    display: flex;
    justify-content: space-between;
}
.roletype li{
    width: 23.89%;
    border-radius: 12px;
    box-shadow:0px 2px 10px #00000014;
    z-index: 2;
}
.roletype img{
    width: 100%;
}
.roletype h3{
    font-size: 16px;
    line-height: 24px;
    color: #56C4C5;
    text-align: center;
    margin-top: 16px;
}
.roletype p{
    font-size: 16px;
    line-height: 24px;
    margin-top: 16px;
}
.feature{
    max-width: 1039px;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    margin-left: 140px;
}
.featuretype{
    width: 48%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.featuretype li{
    width: 45.36%;
    padding-left: 32px;
    padding-top: 32px;
    padding-bottom: 48px;
    border-radius: 12px;
    box-shadow:0px 2px 10px #00000014;
    margin-bottom: 28px;
}
.featuretype h3{
    font-size: 18px;
    line-height: 26px;
    font-weight: bold;
    margin-top: 24px;
}
.featuretype p{
    line-height: 24px;
    margin-top: 16px;   
}
.featuretype img{
    width: 50px;
    display: block;
    margin: auto;
    padding-top: 17px;    
}
.box1{
    width: 86px;
    height: 86px;
    border-radius: 43px;
    box-shadow: 0px 2px 10px #00000014;
}
.featuredes{
    width: 39%;
    margin-top: 165px;
}
.featuredes h2{
    font-size: 32px;
    line-height: 46px;
    font-weight: bold;
    margin-bottom: 16px;
}
.featuredes p{
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 24px;
}
.featuredes .pricebutton a, .footer .pricebutton a{ 
    width: 136px;
    height: 49px;
    background:#56C4C5;
    font-size: 18px;
    line-height: 2.4;
}
.comment{
    max-width: 1088px;
    margin-top: 72px;
}
.comment h2{
    font-size: 32px;
    line-height: 46px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 104px;
}
.usercomment{
    display: flex;
    justify-content: space-between;
}
.usercomment li{
    width: 32.3%;
    box-shadow:0px 2px 10px #00000014;
    border-radius: 12px;
    position: relative;
    margin-bottom: 24px;
}
.commenttext{
    width: 82.5%;
    margin: auto;
    border-bottom: #DDDDDD 1px solid;
}
.commenttext p{
    font-size: 16px;
    line-height: 24px;
    padding-top: 48px;
    padding-bottom: 24px;
}
.photo img{
    width: 80px;
    height: 80px;
    border-radius: 40px;
    position: absolute;
    left: 32px;
    bottom: 224px;
}
.usercomment h3{
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    margin-top: 24px;
    padding-left: 32px;
}
.usercomment h4{
    line-height: 24px;
    margin-top: 8px;
    margin-bottom: 24px;
}
.stars img{
    width: 16.78px;
    margin-right: 8.22px;
    margin-top: 8px;
}
.box2{
    width: 82.5%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.page{
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}
.page .gray{
    width: 10px;
    height: 10px;
    background:#DDDDDD;
    border-radius: 50px;
    margin-right: 8px;
}
.page .yellow{
    width: 16px;
    height: 10px;
    background:#FFD153;
    border-radius: 50px;
}
.footer{
    position: relative;
}
.original{
    width: 100%;   
}
.footer h2{
    font-size: 32px;
    line-height: 46px;
    font-weight: bold;
    position: absolute;
    top: 51.68%;
    left: 34.48%;
    text-align: center;
}
.footer .pricebutton {
    position: absolute;
    left: 45%;
    top: 70.3%;
}
.rwd{
    display: none;
}
.copyright p{
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    padding-top: 16px;
    padding-bottom: 16px;
    background: #F5F5F5;
}
.program{
    width: 66.54%;   
}
.program h2{
    font-size: 32px;
    line-height: 46px;
    font-weight: bold;
    text-align: center;
    margin-top: 100px;
}
.numberofpeople{
    display: flex;
    justify-content: space-between;
    width: 80.96%;
    margin-top: 48px;
}
.numberofpeople a{
    display: block;
    width: 130px;
    height: 50px;
    border-radius: 27px;
    color: #56C4C5;
    border: #56C4C5 1px solid;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    line-height: 2.4;
}
.numberofpeople a:hover{
    background: #56C4C5;
    color: #FFFFFF;
}
.version{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 54px;
}
.version h3{
    font-size: 24px;
    line-height: 35px;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid #DDDDDD;
    padding-top: 10px;
    padding-bottom: 16px;
}
.version h4{
    line-height: 24px;
    padding-top: 32px;
    text-align: center;
}
.basic,.stantard{
    width: 48.85%;
    box-shadow: 0px 2px 10px #00000014;
    border-radius: 12px;
    position: relative;
    z-index: 2;
}
.count{
    display: flex;
    width: 88.29%;
    justify-content: space-between;
    margin-top: 32px;
}
.subscription, .price{
    width: 43.113%;
    background: #F5F5F5;
    border-radius: 12px;
    font-size: 12px;
    line-height: 17px;
    text-align: center;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-right: 32px;
    padding-left: 32px;
}
.green{
    color: #56C4C5;
}
.big{
    font-size: 32px;
    line-height: 35px;
}
small{
    font-size: 12px;
    line-height: 17px;
}
.equal{
    width: 4.0816%;
    font-size: 29px;
    line-height: 42px;
    padding-top: 33px;
}
.function{
    margin-top: 32px;
    width: 73.986%;
    margin-left: 29px;
}
.function p{
    line-height: 24px;
    margin-left: 12.94px;
}
.box3{
    display: flex;
    margin-bottom: 16px;
}
.experience a{
    display: block;
    font-size: 18px;
    line-height: 2.5;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;
}
.experience{
    width: 136px;
    height: 49px;
    background: #56C4C5;
    border-radius: 27px; 
    margin-top: 16px; 
    margin-bottom: 32px;  
}
.qalist{
    margin-top: 48px; 
    margin-bottom: 100px;   
}
.qaitem{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-radius: 12px;
    box-shadow: 0px 2px 10px #00000014;
}
.question{
    font-size: 18px;
    line-height: 26px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 32px;
}
.choice{
    font-size: 20px;
    line-height:3;
    color: #56C4C5;
    margin-right: 32px;
}
.qaitem .green{
    margin-right: 60%;
}
.qaitem .answer{
    color: #747474;
    font-size: 16px;
    line-height: 32px;
    padding-top: 8px;
    padding-bottom: 32px;
    padding-left: 32px;
}


@media (max-width:375px) {
    .header{
        border-bottom:#F5CA52 solid 2px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .logo img{
        width: 130.84px;
        margin-top: 8px;
        margin-bottom: 8px;
    }
    .background1{
        display: none;
    }
    .headerbackground{
       background: white;
    }
    .background2 img{
        height: 126px;
    }
    .background2{
        top: 743px;
        left: -77px;  
    }
    .home img{
        width: 304.32px;
        top: 324px;
        left: 42px;
    }
    .background3 img{
        width: 334px;
        height: 244.79px;       
    }
    .background3{
        display: block;
        position: absolute;
        top: 391px;
        left: 20px;
    }
    .title{
        padding-left: 20px;
        padding-right: 20px;
        margin-left: 0;
    }
    .title p{
        font-size: 16px;
        line-height: 24px;
        font-weight: bolder;
        margin-top: 32px;
    }
    .title h1{
        font-size: 32px;
        line-height: 46px;
    }
    .title1 h1{
        font-size: 32px;
        line-height: 46px;
        padding-top: 48px; 
        position: relative;
        
    }
    .title1 p{
        padding-bottom: 361px;
        position: relative;
    }
    .title1background{
        border-radius: 0px 0px 0px 150px;
    }
    .background4{
        display: none;
    }
    .background5{
        display: block;
        position: absolute;
        left: 0;
        top: 92.984px;
        
    }
    .background6 img{
        height: 204px;
    }
    .background6{
        top: 1263px;
        left: -108px;
    }
    .title h2{
        font-size: 16px;
        line-height: 24px;   
    }
    .topbutton img{
        width: 50px;
        height: 50px;
    }
    .topbutton{
        top: 602px;
        left: 309px;
    }
    .platform{
        margin-top: 436px;
    }
    .platform h2{
        font-size: 28px;
        line-height: 40px;
    }
    .platformtype{
        flex-wrap: wrap;
        margin-top: 32px;
    }
    .platform li{
        width: 65%;
    }
    .platformtype img{
        width: 60px;
        height: 60px;
        margin-bottom: 16px;
    }
    .platformtype h3{
        font-size: 18px;
        line-height: 26px;
        margin-bottom: 16px;
    }
    .platform p{
       margin-bottom: 24px;
    }
    .role{
        margin-top: 60px;
    }
    .role h2{
        font-size: 28px;
        line-height: 40px;
    }
    .role p{
        font-size: 18px;
        line-height: 26px;
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 32px;
    }
    .roletype{
        flex-wrap: wrap;
    }
    .roletype li{
        width: 70%;
        margin: auto;
        margin-bottom: 24px;
    }
    .feature{
        margin-top: 36px;
        margin-left: 0;
        flex-direction: column-reverse;
    }
    .featuredes{
        width: 90%;
        margin-top: 0;
        margin: auto;
        margin-bottom: 32px;
    }
    .featuredes h2{
        font-size: 28px;
        line-height: 40px;
        text-align: center;
    }
    .featuredes p{
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 16px;
        text-align: center;
    }  
    .featuredes .pricebutton a, .footer .pricebutton a{ 
       margin: auto;
    }
    .featuretype{
        width: 61.3%;
        margin:auto;
    }
    .featuretype li{
        width: 100%;
        padding-left: 24px;
        padding-right: 41px;
        margin-bottom: 24px;
    }
    .featuretype p{
        margin-top: 20px;   
    }
    .comment{
        margin-top: 36px;
    }
    .comment h2{
        font-size: 28px;
        line-height: 40px;
        margin-bottom:88px;
    }
    .usercomment li{
        width: 90%;
        margin: auto;
        margin-bottom: 24px;
    }
    .page{
        margin-bottom: 60px;
    }
    .dn{
        display: none;
    }
    .rwd{
        display: block;
        max-width: 375px;        
    }
    .original{
        display: none;
    }
    .footer{
        height: 461px;
    }
    .footer h2{
        font-size: 24px;
        line-height: 35px;
        top: 293px;
        left: 20px;
    }
    .footer .pricebutton {
        left: 120px;
        top: 352px;
        margin-bottom: 60px;
    }
    .program{
        width: 100%;   
    }
    .program h2{
        font-size: 28px;
        line-height: 40px;
        margin-top: 60px;
        padding-left: 5.333%;
        padding-right: 5.333%;
    }
    .numberofpeople{
        margin-top: 24px;
        padding-left: 4%;         
    }
    .numberofpeople a{
        width: 90px;
        height: 40px;
        font-size: 16px;
        margin-right: 8px;
    }
    .numberofpeople .dn{
        display: none;
    }
    .version{
        margin-top: 32px;
    }
    .basic,.stantard{
        width: 89.4%;
        margin: 0 auto;
        background: white;
    }
    .basic{
        margin-bottom: 24px;
    }
    .count{
        width: 90.44%;
        margin-top: 24px;
    }
    .subscription, .price{
        width: 46%;
        padding-top: 16px;
        padding-bottom: 16px;
        padding-right:22px;
        padding-left: 22px;
    }
    .function{
        margin-top: 27px;
        width: 87%;
        margin-left: 5.498%;
    }
    .function p{
        font-size: 14px;
        line-height: 20px;
        margin-left: 5.498%;
    }
    .experience{
        margin-top: 35px; 
        margin-bottom: 24px;  
    }
    .qalist{
        margin-top: 32px; 
        margin-bottom: 60px;
        padding-left: 5.333%;
        padding-right: 5.333%; 
    }
    .qaitem{
        margin-bottom: 16px;
    }
    .question{
        font-size: 16px;
        line-height: 24px;
        padding-left: 4.7904%;
    }
    .choice{
        font-size: 16px;
        margin-right: 4.883%;
    }
    .qaitem .green{
        margin-right: 30%;
    }
    .qaitem .answer{
        padding-top: 16px;
        padding-bottom:24px;
        padding-left: 4.7904%;
    }



    
    
}

